<h1 class="mt-4">Dashboard</h1>
<% include ./partials/messages %>
<p class="lead mb-3">Welcome <%= name %></p>
<p class="lead mt-4">
    Need to reset your password? <a href="/users/reset">Click here</a>
</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>