<h1 class="mt-4">Dashboard</h1>
<% include ./partials/messages %>

<p class="lead mt-4">
    For people who used custom log in:<br/>Need to reset your password? <a href="/users/reset">Click here</a><br/>***Please note that if you try this and are signed in as an oAuth user, you will be signed out.***
</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>